$menu-item-height: 1.4em;
$menu-item-radio-dimensions: 1em;
$menu-item-left-padding: ($menu-item-height - $menu-item-radio-dimensions) / 2;
$radio-inner-padding: 2px;

.video-react-options-close {
  position: absolute;
  top: 0.4em;
  right: 0.5em;
  color: white;
  background: none;
  border: none;
  font-size: 2.5em;
  z-index: 2;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.video-react-options-overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 325px;
  background: rgba(#000000, 0.8);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .video-react-options-menu-section {
    width: 80%;
    align-self: center;
    
    .video-react-menu-section-header {
      color: #ffffff;
      font-weight: normal;
      margin: 0.25em 0;
    }

    .video-react-menu-item {
      display: flex;
      align-items: center;
      font-size: 16px;
      padding-left: $menu-item-left-padding;
      transform: translateX(-$menu-item-left-padding);
      height: $menu-item-height;
      border-radius: 1em;
      margin: 0.5em 0;
      cursor: pointer;

      &:not(.video-react-menu-item-selected):hover {
        background-color: #545454;
      }

      .video-react-menu-item-radio {
        width: $menu-item-radio-dimensions;
        height: $menu-item-radio-dimensions;
        border: 1px solid white;
        border-radius: 50%;
        display: block;
        margin-right: 0.5em;
        position: relative;

        &.video-react-menu-item-radio-selected::after {
          content: '';
          position: absolute;
          border-radius: 50%;
          top: $radio-inner-padding;
          left: $radio-inner-padding;
          width: calc(#{$menu-item-radio-dimensions} - 2px - #{$radio-inner-padding} * 2);
          height: calc(#{$menu-item-radio-dimensions} - 2px - #{$radio-inner-padding} * 2);
          background-color: #2C83FB;
        }
      }

      p {
        font-weight: bold;
      }
    }
  }
}
